{% extends "main_template.html" %}
{% load static %}
{% block links %} <script src="{% static "script.js" %}"></script>{% endblock %}
{% block title %}ALL VIDEO{% endblock %}

{% block video %}
<img src="{% static "kot.jpg" %}">
{% for video in content %}
    <iframe width="1280" height="720" src="{{ video.urls }}"></iframe>
    <a href={% url "one_video" id=video.id %}>
        <h3><i>{{ video.title }}</i></h3></a>
{#    <a href="/hello/add_like/{{ video.id }}/">Likes: {{ video.likes }}</a>#}
    <h3 class="like" id = "{{ video.id }}">Likes:{{ video.likes }}</h3>
    <h5>{{ video.descruptions }}</h5>
    {% for com in video.comment.all %}
        <button data-toggle="collapse" data-target="#demo{{ com.id }}">Collapsible</button>

    <div id="demo{{ com.id }}" class="collapse">
        {{ com.text }}

    </div>
        <h5>{{ com.text }}</h5>

        <h6>{{ com.date }}</h6>
        <hr>
    {% endfor %}

{% include "test_html.html" with some_id=video.id %}
{#    <form action="/hello/comment/{{ video.id }}" method="get">#}
{#    <div class="form-group">#}
{#    <label for="comment">Comment:</label>#}
{#    <textarea class="form-control" rows="5" name ="com"></textarea>#}
{#    </div>#}
{##}
{#    <button type="submit" class="btn btn-success">Ok</button>#}
{#</form>#}

{% endfor %}

{% endblock %}
</body>
</html>